{%- extends "layout.html" %}
{%- set title = 'Overview' %}

{%- block body %}
<!--<div style="margin: 0 0 .5em 1em; float: right;">
    <img src="_static/simpy-logo-small.png" style="width: 200px;">
</div>-->

<h1>Welcome to Zenfit</h1>

<p>Event discrete simulation for Python.</p>

<h2 style="clear: both;">Documentation</h2>

<table class="contentstable" align="center" style="margin-left: 30px">
    <tr>
        <td>
            <p class="biglink"><a class="biglink" href="{{ pathto("contents") }}">Table of Contents</a><br />
            <span class="linkdescr">Where to go</span></p>
        </td>
        <td width="50%">
            <p class="biglink"><a class="biglink" href="{{ pathto("getting_started") }}">User Documentation</a><br />
            <span class="linkdescr">learn the basics of Zenfit in just a couple of minutes</span></p>
        </td>
        
    </tr>
    <tr>
        <td>
            <p class="biglink"><a class="biglink" href="{{ pathto("about") }}">About</a><br />
            <span class="linkdescr">non-technical stuff (history, change logs, …)</span></p>
        </td>
        <td>
            <p class="biglink"><a class="biglink" href="{{ pathto("common_functions") }}">Developer Documentation</a><br />
            <span class="linkdescr">usage examples for Zenfit</span></p>
        </td>
        
    </tr>
    <tr>
        <td>
            <p class="biglink"><a class="biglink" href="{{ pathto("index") }}">Contents</a><br />
            <span class="linkdescr">for a complete overview</span></p>
        </td>
        <td width="50%">
            <p class="biglink"><a class="biglink" href="{{ pathto("reporting") }}">Feature Documentation</a><br />
            <span class="linkdescr">guides covering various features of Zenfit in-depth</span></p>
        </td>
        
    </tr>
</table>
{%- endblock %}